@charset "utf-8";

body {
  font-size: 14px;
}

table {
  border-collapse: collapse;
  border: 2px solid #eee;
  margin: 0 auto;
  width: 1000px;
  height: 800px;
}

thead,
tfoot {
  background: #eee;
}

th, td {
  font-size: 32px;
  padding: 8px;
  text-align: center;
  margin: 0 auto;
}

tbody td:first-child {
  color: red;
}

tbody td:last-child {
  color: blue;
}

tfoot {
  font-weight: bold;
}

td.disabled {
  opacity: 0.3;
}

td.today {
  font-weight: bold;
}

#prev, #next, #today {
  cursor: pointer;
  user-select: none;
}



